.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

*~

Sources/Imgui/include/*
!Sources/Imgui/include/shim.h
!Sources/Imgui/include/module.modulemap