[submodule "Sources/Imgui/imgui"]
	path = Sources/Imgui/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "Sources/SokolC/include/sokol"]
	path = Sources/Sokol/include/sokol
	url = git@github.com:treemcgee42/sokol.git
